@charset "UTF-8";
/**/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
table{border-collapse:collapse;border-spacing:0}
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}

i{
    font-style: normal;
    vertical-align: middle;
}
body{
    background-color: #f5f5f5;
    font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
}
a{
    text-decoration:none;
}
.d-block{
    display: block;
    width:100%;
    height:100%;
}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
.h200{height:200px;}
.cdd5{color: #dd5c5c;}
.c1bc{color: #1bc4ae;}
.loading{
    position: fixed;
    /* background-color: #fff; */
    width: 100%;
    height: 100%;
    z-index: 100;
    /* background:
        linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
        linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
        linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
        background-color:#e1ebbd;
        background-size: 128px 128px; */
}
.loading > img{
    position: absolute;
    width:64px;
    height:64px;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;  
}