@charset "utf-8";
section .maincontent li{
    float: left;
    width: 408px; 
    background: #fff;
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom:20px;
    padding: 10px;
    box-shadow: 0 0 3px 1px #999;
}
section .maincontent li:nth-child(even){
    margin-left:20px;
}