@charset "UTF-8";
/**/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
table{border-collapse:collapse;border-spacing:0}
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}

i{
    font-style: normal;
    vertical-align: middle;
}
body{
    background-color: #fff;
    overflow-x: hidden;
    min-width: 1200px;
    height: 5000px;
    font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
}
a{
    width:100%;
    height: 100%;
    display: inline-block;
    text-decoration:none;
}

.chearfix:after{
    display: block;
    content: "";
    clear: both;
}
.w1200{width:1200px;margin:0 auto;}

.ml20{margin-left:20px;}
.ml10{margin-left: 10px;}
.mlr15{margin-left: 15px;margin-right: 15px;}
.mt10{margin-top: 10px;}
.mt30{margin-top: 30px;}
.mb14{margin-bottom: 14px;}

.pt30{padding-top: 30px;}
.pb20{padding-bottom: 20px;}
.pl30{padding-left: 30px;}
.pr20{padding-right: 20px !important;}
.pl0{padding-left:0 !important;}
.ta{text-align: center;}

.fl{float: left;}
.fr{float: right;}

.c-9{color: #999;}
.c-e45{color: #e54077 !important;}
.c-306{color: #1f458d !important;}
.c-c7e{color: #c7e540 !important;}
.c-34a{color: #34af34 !important;}

.bc-fae{background-color: #faebd7;}
.bc-eee{background-color: #eee;}

.ws-two{word-spacing: 24px;}
.ws-thr{word-spacing: 3px;}

.z9{z-index: 9;position: relative;}
.z4{z-index: 4;position: relative;}

.b-r{border-right: 1px solid #EAEAEA;}